body{
  background-image :url("http://previews.123rf.com/images/Tawng/Tawng1207/tawng120700019/14521528-Editable-vector-silhouettes-of-adult-students-and-a-teacher-in-a-classroom-with-all-elements-as-sepa-Stock-Vector.jpg");
  background-repeat :no-repeat;
  width:1800px;
  height:3000px;
 

}